name: Lint Autoware System Design Format

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-system-design-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r autoware_system_designer/requirements.txt
          pip install -e autoware_system_designer

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: lint-system-design-format --all-files
