name: Lint Autoware System Design Format

on:
  pull_request:
    paths:
      - action.yaml
      - "**/*.node.yaml"
      - "**/*.module.yaml"
      - "**/*.system.yaml"
      - "**/*.parameter_set.yaml"
      - autoware_system_designer/**/*.py
      - autoware_system_designer/schema/**/*.json
  push:
    branches:
      - main
    paths:
      - action.yaml
      - "**/*.node.yaml"
      - "**/*.module.yaml"
      - "**/*.system.yaml"
      - "**/*.parameter_set.yaml"
      - autoware_system_designer/**/*.py
      - autoware_system_designer/schema/**/*.json

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Lint Autoware System Design Format
        uses: ./
